
/*! <---------header section --------->*/

.header-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 85px;
}

.logo-alura {
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

/*! <--------- Main section --------->*/

.container {
  background: linear-gradient(45deg, #ffd541 50%, #fdcd1d 50%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.content-logo {
  position: relative;
  bottom: 90px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.content-logo .logo-title {
  width: 100%;
}

/*! <--------- buttons section --------->*/

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-start-game {
  text-align: center;
  background-size: 200% auto;
  background-color: #1e2220;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 253, 253);
  text-decoration: none;
  margin-bottom: 17px;
  padding: 22px 82px;
  border-radius: 27px;
  transition: all 0.2s ease-in-out;
}

.save-word {
  text-align: center;
  background-size: 200% auto;
  background-color: #1e2220;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 253, 253);
  text-decoration: none;
  margin-bottom: 17px;
  padding: 22px 55px;
  border-radius: 27px;
  transition: all 0.2s ease-in-out;
}

.btn-start-game:hover,
.btn-add-word:hover,
.logo-alura:hover,
.save-word:hover{
  transform: scale(1.15);
}

.social-icon-content a img:hover {
  transform: scale(1.32);
}


.btn-start-game:hover,
.save-word:hover,
.btn-add-word:hover {
  -webkit-box-shadow: 2px 2px 5px 2px #2424247c;
  box-shadow: 2px 2px 5px 2px #2424247c;
}

.btn-add-word {
  text-align: center;
  background-color: none;
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  color: #1e2220;
  text-decoration: none;
  width: 200px;
  padding: 12px 10px;
  border-radius: 30px;
  border: 3px solid rgb(255, 253, 253);
  transition: all 0.2s ease-in-out;
}

/*! <--------- social buttons section --------->*/

.social-icon-content a {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-decoration: none;
  margin-left: 20px;
}

.social-icon-content a img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.footer {
  position: relative;
  top: 80px;
}

.name-copy {
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  font-family: "Heebo", sans-serif;
}

